# Edge Server Environment Config
APP_ENV=development
DEBUG=True
CONFIG_DIR=configs

# Database
SQLITE_DB_PATH=var/db/parking.sqlite3

# Serial
SERIAL_PORT=COM3
SERIAL_BAUDRATE=115200

# Firebase Admin SDK Credentials
FIREBASE_CREDENTIALS_PATH=configs/firebase-credentials.json
FIREBASE_DATABASE_URL=https://smart-parking-pbl4-default-rtdb.firebaseio.com/

# Security
EMBEDDING_SECRET_KEY=generate_a_secure_base64_key_here